*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}
#container{
    height: 100vh   ;
    background-color:rgb(240, 240, 240);
}
#celular{
    display: flex;
    height: 60%;
    justify-content: center;
    align-items: center ;
    
}
#login{
    display: flex;
    height: 60%;
    justify-content: center;
    align-items: center;
}
